<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <provider android:authorities="dev.soranerai.netprivacy.config" />
    </queries>
    <application
        android:name=".NetPrivacyApplication"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@style/Theme.NetPrivacy"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".TrustConfigProvider"
            android:authorities="dev.soranerai.netprivacy.config"
            android:exported="true"
            android:grantUriPermissions="false" />

        <!-- Metadata consumed by LSPosed-compatible managers. -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/module_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />
    </application>
</manifest>
